.backgrnd-clr {
  background-color: #252422;
}
.backgrnd-clr:hover {
  background-color: #eb5e28;
}
.custom-inverted-logo {
  filter: invert(100%);
}
.custom-font {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: medium;
}
.custom-focus-ring:focus {
  outline: none;
  border: 2px solid #ccc5b9;
  box-shadow: 0 0 5px rgba(208, 194, 132, 0.5);
}

.login-card {
  height: 500px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.login-image {
  background-position: center;
  background-size: cover;
}

@media (min-width: 1024px) {
  .login-card {
    height: 600px;
  }
}

@media (max-width: 1024px) {
  .login-card {
    height: 400px;
  }
}
